{% extends "index.html" %}

{% block content %}

<title>PoE - Enemies</title>
</head>
<body class="bg-dark">

<div id="demo" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{url_for('static', filename='undeadhorde.jpg')}}" alt="undead horde" class="d-block w-75 mx-auto">
        </div>
        <div class="carousel-item">
            <img src="{{url_for('static', filename='kaom.jpg')}}" alt="kaom" class="d-block w-75 mx-auto">
        </div>
        <div class="carousel-item">
            <img src="{{url_for('static', filename='strangevoice.jpg')}}" alt="strange voice" class="d-block w-75 mx-auto">
        </div>
        <div class="carousel-item">
            <img src="{{url_for('static', filename='eldershaper.jpg')}}" alt="elder and shaper" class="d-block w-75 mx-auto">
        </div>
        <div class="carousel-item">
            <img src="{{url_for('static', filename='sirus.jpg')}}" alt="sirus" class="d-block w-75 mx-auto">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>

<div class="container text-success text-center p-5">
    <h1>These are some of the enemies you will encounter on your journey through Wraeclast</h1>
</div>

<div class="container-flex">
    <div class="row align-items-sm-center">
        <div class="col-3 container p-2 my-2 bg-danger text-center">
            <img src="{{url_for('static', filename='enemy1.jpg')}}" alt="enemy" class="img-fluid">
        </div>
        <div class="col-3 container p-2 my-2 bg-warning text-center">
            <img src="{{url_for('static', filename='enemy2.jpg')}}" alt="enemy" class="img-fluid">
        </div>
        <div class="col-3 container p-2 my-2 bg-primary text-center">
            <img src="{{url_for('static', filename='enemy3.png')}}" alt="enemy" class="img-fluid">
        </div>
    </div>
    <div class="row align-items-sm-center">
        <div class="col-3 container p-2 my-2 bg-primary text-center">
            <img src="{{url_for('static', filename='enemy4.png')}}" alt="enemy" class="img-fluid">
        </div>
        <div class="col-3 container p-2 my-2 bg-danger text-center">
            <img src="{{url_for('static', filename='enemy5.jpg')}}" alt="enemy" class="img-fluid">
        </div>
        <div class="col-3 container p-2 my-2 bg-warning text-center">
            <img src="{{url_for('static', filename='enemy6.jpg')}}" alt="enemy" class="img-fluid">
        </div>
    </div>
    <div class="row align-items-sm-center">
        <div class="col-3 container p-2 my-2 bg-warning text-center">
            <img src="{{url_for('static', filename='enemy7.jpg')}}" alt="enemy" class="img-fluid">
        </div>
        <div class="col-3 container p-2 my-2 bg-primary text-center">
            <img src="{{url_for('static', filename='enemy8.jpg')}}" alt="enemy" class="img-fluid">
        </div>
        <div class="col-3 container p-2 my-2 bg-danger text-center">
            <img src="{{url_for('static', filename='enemy9.jpg')}}" alt="enemy" class="img-fluid">
        </div>
    </div>
</div>

{% endblock %}