{% extends "index.html" %}

{% block content %}

<title>PoE - Locations</title>
</head>
<body class="bg-dark">

    <div id="demo" class="carousel slide bg-dark" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{url_for('static', filename='delve.jpg')}}" alt="delve" class="d-block w-75 mx-auto">
            </div>
            <div class="carousel-item">
                <img src="{{url_for('static', filename='incursion.jpg')}}" alt="temple" class="d-block w-75 mx-auto">
            </div>
            <div class="carousel-item">
                <img src="{{url_for('static', filename='atlas.jpg')}}" alt="atlas" class="d-block w-75 mx-auto">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-dark"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon bg-dark"></span>
        </button>
    </div>

    <div class="container p-5 text-center text-success">
        <h1>On your travels through Wraeclast you will discover all manner of amazing places and the their colourful inhabitants, some may even help you on your journey.</h1>
    </div>

    <div class="row align-items-center">
        <div class="col-2 container p-2 my-2 border border-danger">
            <h3 class="text-center text-success">Niko, Master of the Depths</h3>
            <img src="{{url_for('static', filename='niko.jpg')}}" alt="niko" class="img-fluid">
        </div>
        <div class="col-5 container p-4 my-4 text-white text-center border border-danger">
            <p>
                Seems like the rain's brought out a few worms! Don't think I'm an easy mark, exile. I've spent more than enough time around exiles to know which way the dagger's pointing, and I'll happily give it a shove in your direction if you try anything... wormy.
                I'm conducting a little dig... The sort of enterprise that could make someone with your particular 'skill set' a very handsome living. Don't worry, you'll not be moving much dirt. No, no... Why smash rocks when you could smash skulls, eh?
            </p>
            <br>
            <p>
                Left untouched for over 250 years, the Azurite Mine has been consumed by a malevolent darkness that cast out the Eternal Empire. Niko, an inventor, has harnessed the power of Voltaxic Sulphite to create a machine called the Crawler that can pierce the darkness. Delve into the mine but don't leave the Crawler's light for long or you'll be crushed by the darkness.
            </p>
        </div>
        <div class="col-3 container p-2 my-2 border border-danger">
            <h3 class="text-center text-success">Azurite Mine</h3>
            <img src="{{url_for('static', filename='delvemap.jpg')}}" alt="delve" class="img-fluid">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-2 container p-2 my-2 border border-warning">
            <h3 class="text-center text-success">Alva, Master Explorer</h3>
            <img src="{{url_for('static', filename='alva.jpg')}}" alt="alva" class="img-fluid">
        </div>
        <div class="col-5 container p-4 my-4 text-white text-center border border-warning">
            <p>
                Thank the gods! You're no saint, I can see that. Though who am I to question what form divine providence comes in?
                I am the great Alva Valai! Reliquarian extraordinaire, seeker of mysteries, explorer of the unknown, lover of all things that glitter - and I need your help.
                The lost Temple of Atzoatl; Halls lined with finery, boxes stuffed with glimmering riches and relics touched by insurmountable power! For eons lost to history... until now.
            </p>
            <br>
            <p>
                The lost Temple of Atzoatl is said to be the most famed in all Vaal history and myth. Best I can tell, the Temple began its construction in the final years of the Vaal Empire. The exact date of its completion has been hard to ascertain as it occurred shortly before the events which brought about the civilisation's extinction.
                Perhaps it is the fragility of the timeline that has made Atzoatl such a staple of Vaal mythology. Some say it was a place of darkness, home to the most vile of sacrifices. But there are others who claim the temple to be the birthplace of technology - even our own is said to pale in comparison to what was being forged within those walls.
                Scholars today have even suggested that it was the treasure house for Queen Atziri herself. Whichever is true, it was bound to have been fiercely protected by fanatics and royalty alike. And if something's worth protecting, well, then it's worth bloody taking!
            </p>
        </div>
        <div class="col-3 container p-2 my-2 border border-warning">
            <h3 class="text-center text-success">Temple of Atzoatl</h3>
            <img src="{{url_for('static', filename='temple.jpg')}}" alt="temple" class="img-fluid">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-2 container p-2 my-2 border border-primary">
            <h3 class="text-center text-success">Zana, Master Cartographer</h3>
            <img src="{{url_for('static', filename='zana.jpg')}}" alt="zana" class="img-fluid">
        </div>
        <div class="col-5 container p-4 my-4 text-white text-center border border-primary">
            <p>
                Not too long ago I'd have told you that maps were a beautiful mix of science, thaumaturgy, and imagination, that I need only picture a place to conjure a path to it.
                I thought them a paradise waiting to happen, but they're more like a tempting morsel sitting below a massive cage. The hunter may be no more, but all the traps are still set. 
            </p>
            <br>
            <p>
                During my first forays into the Atlas, I felt like every bit of progress unlocked deeper understanding about the nature of existence. Now I'm beginning to wonder if it isn't the reverse.
                There are times when I feel like the Atlas is watching me, observing me, and offering me a glimpse of my desires to keep me coming back. It's as though the deeper into it I explore, the more it wraps itself around my mind.
            </p>
        </div>
        <div class="col-3 container p-2 my-2 border border-primary">
            <h3 class="text-center text-success">Atlas of Worlds</h3>
            <img src="{{url_for('static', filename='temple.jpg')}}" alt="atlas" class="img-fluid">
        </div>
    </div>

{% endblock %}